*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: green;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 100svh;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;   
}

main{
    border: 2px solid greenyellow;
    text-align: center;
    width: 300px;
    height: 270px;
    margin: 0 0.5rem;
}

h1{
    color: goldenrod;
}

#message-el{
    font-style: italic;
}

#sum-el{
    margin-bottom: 0.5rem;
}

button{
    background-color: goldenrod;
    color: green;
    font-size: medium;
    width: 10rem;
    height: 2rem;
    margin-top: 5px;
    font-weight: inherit;
    border-radius: 3px;
    border: none;
}

p {
    margin-top: 1rem;
}

@media screen and (min-width: 576px) {
    main{
        width: 400px;
        min-height: 310px;
        padding-top: 20px;
    }
}